@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  
  box-sizing: border-box;
}
html * {
  font-family: 'Roboto', sans-serif;
  box-sizing: inherit;
} 
body{
  margin:0;
}
.form-container {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Incremento del espacio entre los elementos */
}

.form-input {
  padding: 12px 15px; /* Padding ligeramente mayor para un mejor aspecto */
  border: 1px solid #e1e1e1; /* Color de borde más suave */
  border-radius: 6px; /* Bordes más redondeados */
  font-size: 14px; /* Tamaño de fuente ligeramente mayor */
  transition: border-color 0.2s; /* Transición suave al enfocar */

  /* Efecto al enfocar el input */
  &:focus {
    border-color: #a8a8a8;
    outline: none; /* Elimina el contorno azul predeterminado en algunos navegadores */
  }
}

.error {
  color: #D32F2F; /* Rojo más oscuro para el mensaje de error */
  font-size: 12px;
  margin-top: -8px;
  margin-bottom: 8px;
}

.submit-button {
  padding: 12px 25px; /* Padding ligeramente mayor */
  background-color: #FFC1C1; /* Color rosado suave */
  color: #7B2C2C; /* Color de texto oscuro para contraste */
  border: none;
  border-radius: 6px; /* Bordes más redondeados */
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s; /* Transición suave al pasar el mouse */

  /* Efecto al pasar el mouse */
  &:hover {
    background-color: #FFA1A1; /* Rosado un poco más intenso al pasar el mouse */
    transform: translateY(-2px); /* Efecto de "levantamiento" */
  }

  /* Efecto al presionar el botón */
  &:active {
    transform: translateY(0);
  }
}
